############################################################
# .NET / Visual Studio
############################################################

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

## VS cache
.vs/

## User files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

############################################################
# VS Code
############################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################################################
# Python
############################################################

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc

# Python build
build/
dist/
*.egg-info/

############################################################
# PyCharm
############################################################

.idea/

############################################################
# Logs
############################################################

*.log

############################################################
# OS Files
############################################################

.DS_Store
Thumbs.db
desktop.ini

############################################################
# SQL Server / Local DB
############################################################

*.mdf
*.ldf

############################################################
# Libraries
############################################################

**/wwwroot/lib

# Migrations
**/Migrations/*.*